set timeout=0
set default=0

menuentry "M1" {
    multiboot /boot/m1.elf
    module    /boot/root.elf     root
    module    /boot/vga.elf      vga
    module    /boot/keyboard.elf keyboard
    module    /boot/ata.elf      ata
    module    /boot/vfs.elf      vfs
    boot
}